<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.mine.stocksimulator"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.PortfolioActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.SearchActivity">

            <!-- <meta-data android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value=".ui.PortfolioActivity"/> -->
        </activity>
        <activity android:name=".ui.StockProfileActivity">
        </activity>
        <activity android:name=".ui.TradeActivity">
        </activity>
        <activity android:name=".ui.SettingsActivity">
        </activity>
        <activity android:name=".ui.WatchlistActivity">
        </activity>

        <receiver android:name=".background.UpdateReceiver"
                  android:process=":remote"
                  />
        <service android:name=".background.UpdateService"
                 android:exported="false"/>

        <receiver android:name=".background.StartAtBootReceiver">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>

    </application>

</manifest>
